.grid .third-nav-container,
.grid a.navbar-arrow {
    top: 36px;
}

.grid .third-nav-container {
    left: 208px;
    width: 724px;
    border-radius: 4px 0px 0px 0px;
}

.grid .third-nav li a {
    width: 724px;
    text-align: left;
    padding: 8px 4px;
}

.grid > .body > .container {
    margin-top: 32px;
}

.grades thead th, .grades tbody td {
    width: 3em;
}

.skill-title {
    display: table-row;
    overflow: hidden;
    position: absolute;
    right: 92px;
    top: 2px;
    z-index: 1;
}

.skill-title p {
    background: #F0EFEE;
    border-color: #dddddd;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: black;
    display: table-cell;
    font-size: 11px;
    margin: 0px;
    opacity: 0.9;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 598px;
}

.skill-title p.required,
.skill-title p.optional {
    text-align: justify;
}

.skill-title p.required,
.color-codes .required,
.grades thead th > a {
    color: #005C61;
}

.skill-title p.optional,
.color-codes .optional,
.grades thead th.optional > a {
    color: black;
}

.skillsets-selection {
    max-height: 550px;
    overflow: auto;
    margin-bottom: 8px;
}

/* XXX: ugly hack! */
.skillsets-selection-remove {
    max-height: 100000px;
}

.skillsets-selection ul.skills {
    list-style-type: disc;
    padding-left: 16px;
}

.skillsets-selection .ui-accordion .ui-accordion-header {
    font-weight: normal;
    color: #333333;
    background-color: transparent;
    border-color: transparent;
}

.skillsets-selection .ui-accordion .ui-state-active,
.skillsets-selection .ui-accordion .ui-state-hover {
    background-color: #008c93;
    border-color: #008c93;
    color: #ffffff;
}

/* XXX: to make the default arrows in the skillset accordion black
        find a better way to do it */

.skillsets-selection .ui-accordion .ui-state-default .ui-icon {
    background-image: url("ui-icons_222222_256x240.png");
}

.skillsets-selection .ui-accordion .ui-state-active .ui-icon,
.skillsets-selection .ui-accordion .ui-state-hover .ui-icon {
    background-image: url("ui-icons_ffffff_256x240.png");
}

/* XXX: move this to the gradebook css? */

.popup_menu {
    max-width: 400px;
}

.popup_menu li.header {
    white-space: normal;
}

.worksheets-list {
    top: 68px;
    max-width: 752px;
    width: 752px;
}
